<footer class="site-footer h-card" style="background: #F9F9F9; color: #7A7A7A; height: 160px;">
  <div class="wrapper" style="font-size: 14px;">
    <div class="footer-col footer-col-3">
      <p>Copyright © 2017-2020 RIJIE. All Rights Reserved</p>
    </div>
    <div class="footer-col footer-col-1">
      <p>浙ICP备08105208号</p>
    </div>
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li><a href="{{ "/feed.xml" | relative_url }}" class="u-email">RSS</a></li>
        {%- if site.email -%}
        <li><a class="u-email" href="mailto:{{ site.email }}">联系我</a></li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</footer>