/** 
 * Site index style
 */

.index-page {
  background: rgb(6, 59, 165);
  background-image: linear-gradient(0deg, #00c6fb 0%, #005bea 100%);
  
  padding:0px; 
  margin:0px;
  overflow: hidden;

  .index-icon {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 20%;
    top: 25%;
    text-align: center;
  }

  .sns-list {
    line-height: 60px;
    height: 88px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 43.5px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 20%;
    top: 60%;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      line-height: 88px;
      margin-right: 50px;
      font-size: 15px;
      text-align: center;
    }

    li:last-child {
      margin-right: 0;
    }

    li a {
      text-decoration: none;
      display: inline-block;
      position: relative;
    }

    a img {
      transition: filter 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
      transition-property: filter, transform, transform, opacity;
      transition-duration: 0.25s, 0.25s, 0.5s, 0.5s;
      transition-timing-function: ease, ease, cubic-bezier(0.6, 0.2, 0.1, 1), cubic-bezier(0.6, 0.2, 0.1, 1);
      transition-delay: 0s, 0s, 0s, 0s;
    }

    a img:hover {
      filter: drop-shadow(5px 10px 15px rgba(5, 93, 180, 0.4));
    }

    .tooltip {
      visibility: hidden;
      background-color: #fff;
      color: #009af4;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      top: -35%;
      left: -30%;
      line-height: 30px;
      font-weight: bold;
      width: 80px;
      font-size: 16px;

      opacity: 0;
      transition: opacity 0.5s ease 0s;
    }

    .tooltip::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
    }

    a:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }

  }

  @include media-query($on-palm) {

    .sns-list {
        margin: 0 15%;
    }

    .sns-list li {
        margin-right: 15px;
    }
  }

  .footer {
    display:block; 
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0px;
    padding:0px; 
    margin:0px;
    text-align: right; 
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);

    p {
      font-size: 12px; 
      line-height: 30px;
      color: aliceblue; 
      padding-right: 15px;
    }
  }

}


/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 54px;

  // Positioning context for the mobile navigation icon
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 11;
  box-sizing: border-box;
  height: 54px;
}

.site-title {
  margin: 0;
  float: left;
  display: flex;
  height: 54px;
  align-items: center;
  text-decoration: none;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $grey-color-lighter;
    font-weight: bold;
    display: inline-block;
    line-height: 54px;
    font-size: 15px;
    height: 54px;
    box-sizing: border-box;
    padding: 0px 1px;

    text-decoration: none;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .page-link.current {
    color: $brand-color;
    border-bottom: 3px solid $brand-color;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: left;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
    }

    .page-link {
      display: block;
      padding: 0px 18px;
      height: 40px;
      line-height: 40px;

      &:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 10px;
      }

    }

    .page-link.current {
      border: none;
      background: #EFF4FE;
    }
  }
}



/**
 * Site footer
 */
 .footer {
  background: $background-grey;
  color: #7A7A7A; 
  height: 160px; 
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;

  .footer-wrapper {
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .footer-item {
    margin: 0px;
    margin-right: 20px;

    p {
      margin: 0;
    }

    a {
      color: $grey-color-dark;
    }
  }

  .footer-item:last-child {
    margin-left: 0px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit;
  flex: 1;
  padding-top: 54px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

/**
 * Posts
 */

.post-list {
  margin-left: 0;
  list-style: none;
  

  .list-item {
    margin: 0;
    border-bottom: 1px $border-grey solid;
    padding: 0px 10px;

    .list-item-wrapper {
      margin: 10px 0px; 
      display: flex; 
      justify-content: space-between;
      align-items: center;
    }

    .list-item-meta {
      margin: 0px; 
      padding: 0px;
      vertical-align: middle; 
      display: flex; 
      flex-direction: column; 
      justify-content:center;
    }

  }

  .item-date {
    font-size:14px;
    color: $excerpt-color;
    display: block;
    padding: 0px; 
    margin: 2px 0px;
  }

  .item-link {
    display: block;
    font-size: 16px; 
    color: $title-color; 
    font-weight: bold;
    word-break: break-all;
  }

  .item-link:visited {
    color: $title-color;
  }
  
  .item-link:hover {
    color: $brand-color;
    text-decoration: none;
  }

  .item-excerpt {
    margin:0px;
    font-size: 14px;
    color: $excerpt-color;
    display:block; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    margin: 2px 0px;
  }

  .no-image {
    width: 100%;
  }
  .with-image {
    width: 70%;
  }

}

.post-title-wrapper {
  display: flex;
  margin-bottom: 15px;
  
  .original-sign {
    position: relative;
    font-size: 14px;
  }

  .original-tag {
    background: $background-grey;
    font-size: 14px;
    display: block;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
  }

  .original-sign:hover .tooltip {
    opacity: 1;
  }

  .tooltip {
    opacity: 0;
    position: absolute;
    left: -15px;
    top: -35px;
    width: 69px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    transition: opacity 0.5s ease 0s;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

}

.post-title {
  @include relative-font-size(1.5);
  letter-spacing: -1px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 0px;
  letter-spacing: 0.2px;
}

.post-meta {
  color: $grey-color-dark;
  font-size: 15px;

  .post-meta-date,.post-meta-author {
    margin-right: 5px;
  }

  .post-meta-cate {
    display: inline;
    
    a {
      color: $grey-color-dark;
      text-decoration: none;
    }

    a:hover {
      color: $brand-color;
    }
  }

}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-back-button {
  display: block;
  color: $post-font-color;
  text-decoration: none;
  line-height: 24px;
  font-weight: bold;
}

.post-back-button:hover {
  color: $brand-color;
  text-decoration: none;
}

.post-content {
  margin-bottom: $spacing-unit;

  p {
    color: $post-font-color;
    line-height: 32px;
    margin-bottom: 20px;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  blockquote p{
    color: #737873;
  };

  img {
    cursor: zoom-in;
    width: 100%;
  }

  h1 {
    @include relative-font-size(1.5);
    font-weight: bold;
    margin-top: 30px;
  }

  h2 {
    @include relative-font-size(1.3);
    font-weight: bold;
    margin-top: 40px;
  }

  h3 {
    @include relative-font-size(1.1);
    font-weight: bold;
    margin-top: 20px;

  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  li {
    line-height: 32px;
  }
}

.post-content :not([href])[id]:before {
  content: " ";
  display: block;
  height: 5rem;
  margin-top: -5rem;
  pointer-events: none;
  visibility: hidden;
}

.post-gotop-button {
  position: fixed; 
  right: 30px; 
  bottom: 30px;

  .gotop-button {
    display: block; 
    width: 40px; 
    height: 40px; 
    background-color: #fff;
    border-radius: 100%; 
    box-shadow: 0 1px 3px rgba(18,18,18,.2); 
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .gotop-button:hover {
    .gotop-svg {
      fill: #666;
    }
  }

}

.post-image-viewer {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 101;
  text-align: center;
  cursor: zoom-out;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;

  .image-viewer-wrapper {
    position: relative;
    height: 100%;
  }
  
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

/** 
 * Sidebar Define Here
 */

.sidebar {
  display: block; 
  position: fixed; 
  top: 100px;
  width: 120px;
  text-overflow: clip;
  
  .sidebar-content {
  display: flex; 
  flex-direction: column;
  }

  @include media-query($on-laptop) {
    visibility: hidden;
  }

  .sidebar-category {
    font-size: 14px;
    text-align: left; 
    padding: 10px 0px;
    border-right: 1px solid $border-grey;

    .category-header {
      margin: 10px 0px; 
      padding: 0px 15px;
      color: $title-color;
      font-weight: bold;
      font-size: 18px;
    }

    .category-list {
      list-style: none; margin: 0px 0px; padding: 0px;
    }

    .category-item {
      margin: 5px 0px; 
      padding: 4px 15px;
    
      .category-item-link {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        color: $link-color;
        letter-spacing: 0.1px;
      }
    }

    .category-item .current {
      font-size: 14px;
      color: $brand-color;
      font-weight: bold;
    }

    .category-item a:hover {
      text-decoration: none;
      color: $brand-color;
      font-weight: bold;
    }

  }
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/** 
 * Category
 */
.category-group {

  margin-bottom: 20px;

  .category-header {
    font-size:18px;
    display:flex; 
    justify-content:left; 
    align-content: center;
    margin-bottom: 15px;
    align-items: center;

    svg {
      margin-right: 14px;
    }

    h2 {
      font-weight: bold;
      font-size: 18px;
      margin: 0;
      color: $title-color;
    }
  }

  .category-tag {
    display:flex; 
    flex-wrap:wrap; 
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    align-content: center;

    a {
      background-color: $background-grey;
      display: flex;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 4px 14px;
      border-radius: 20px;
      color: $title-color;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      align-items: center;

      svg {
        margin-right: 14px;
      }
    }

    a:hover {
      color: $brand-color;
    }

    a:last-child {
      margin-right: 0px;
    }

  }
}
.category-section {
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;

  .category-list {

    list-style: none;
    margin-left: 26px;

    .category-list-item {
      line-height: 1.2;

      display: flex;
      margin-bottom: 10px;

      p {
        margin-right: 10px;
        color: $grey-color;
        min-width: 100px;
        margin-bottom: 0px;
      }

      a {
        color: $title-color;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        color: $brand-color;
      }
    }
  }

  @include media-query($on-palm) {
    .category-list {
      margin-left: 0;
    }
  }
}

.category-section-header {
  font-size:18px;
  display:flex; 
  justify-content:left; 
  align-content: center;
  margin-bottom: 10px;
  align-items: center;

  svg {
    margin-right: 14px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    color: $title-color;
  }
}

.category-anchor-float::before {
  content: " ";
  display: block;
  height: 4rem;
  margin-top: -4rem;
  pointer-events: none;
  visibility: hidden;
}
