/** 
 * Site index style
 */

.index-page {
  background: rgb(6, 59, 165);
  background-image: linear-gradient(0deg, #00c6fb 0%, #005bea 100%);
  
  padding:0px; 
  margin:0px;
  overflow: hidden;

  .index-icon {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 20%;
    top: 25%;
    text-align: center;
  }

  .sns-list {
    line-height: 60px;
    height: 88px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 43.5px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 20%;
    top: 60%;
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      line-height: 88px;
      margin-right: 50px;
      font-size: 15px;
      text-align: center;
    }

    li:last-child {
      margin-right: 0;
    }

    li a {
      text-decoration: none;
      display: inline-block;
      position: relative;
    }

    a img {
      transition: filter 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
      transition-property: filter, transform, transform, opacity;
      transition-duration: 0.25s, 0.25s, 0.5s, 0.5s;
      transition-timing-function: ease, ease, cubic-bezier(0.6, 0.2, 0.1, 1), cubic-bezier(0.6, 0.2, 0.1, 1);
      transition-delay: 0s, 0s, 0s, 0s;
    }

    a img:hover {
      filter: drop-shadow(5px 10px 15px rgba(5, 93, 180, 0.4));
    }

    .tooltip {
      visibility: hidden;
      background-color: #fff;
      color: #009af4;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      top: -35%;
      left: -30%;
      line-height: 30px;
      font-weight: bold;
      width: 80px;
      font-size: 16px;

      opacity: 0;
      transition: opacity 0.5s ease 0s;
    }

    .tooltip::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
    }

    a:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }

  }

  @include media-query($on-palm) {

    .sns-list {
        margin: 0 15%;
    }

    .sns-list li {
        margin-right: 15px;
    }
  }

  .footer {
    display:block; 
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0px;
    padding:0px; 
    margin:0px;
    text-align: right; 
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);

    p {
      font-size: 12px; 
      line-height: 30px;
      color: aliceblue; 
      padding-right: 15px;
    }
  }

}


/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 54px;

  // Positioning context for the mobile navigation icon
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  box-sizing: border-box;
  height: 54px;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  img {
    height: 26px;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 0.5px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    // color: $text-color;
    color: #999;
    line-height: $base-line-height;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 54px;
    height: 54px;
    box-sizing: border-box;
    padding: 0px 1px;

    text-decoration: none;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .page-link.current {
    color: $brand-color;
    border-bottom: 3px solid $brand-color;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
 .footer {
  background: $background-grey;
  color: #7A7A7A; 
  height: 160px; 
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;

  .footer-wrapper {
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .footer-item {
    margin: 0px;
    margin-right: 20px;

    p {
      margin: 0;
    }

    a {
      color: $brand-color;
    }
  }

  .footer-item:last-child {
    margin-left: 0px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit;
  flex: 1;
  padding-top: 54px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

/**
 * Posts
 */

.post-list {
  margin-left: 0;
  list-style: none;
  

  .list-item {
    margin: 0;
    border-bottom: 1px $border-grey solid;
    padding: 0px 15px;

    .list-item-meta {
      height:100px;
      margin: 0px; 
      padding: 0px;
      vertical-align: middle; 
      display: flex; 
      flex-direction: column; 
      justify-content:center;
    }

  }

  .item-date {
    font-size:14px;
    color: #878686;
    display: block;
    padding: 0px; 
    margin: 2px 0px;
  }

  .item-link {
    display: block;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-size: 16px; 
    color: #464647; 
    font-weight: bold;
  }

  .item-link:visited {
    color: #464647;
  }
  
  .item-link:hover {
    color: $brand-color;
    text-decoration: none;
  }

  .item-excerpt {
    margin:0px;
    font-size: 14px;
    color: #878686;
    display:block; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    margin: 2px 0px;
  }

  .no-image {
    width: 100%;
  }
  .with-image {
    width: 70%;
  }

}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-gotop-button {
  position: fixed; 
  right: 30px; 
  bottom: 30px;

  .gotop-button {
    display: block; 
    width: 40px; 
    height: 40px; 
    background-color: #fff;
    border-radius: 100%; 
    box-shadow: 0 1px 3px rgba(18,18,18,.2); 
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .gotop-button:hover {
    .gotop-svg {
      fill: #666;
    }
  }

}

/** 
 * Sidebar Define Here
 */

.sidebar {
  display: block; 
  position: fixed; 
  top: 100px;
  width: 120px;
  text-overflow: clip;
  
  .sidebar-content {
  display: flex; 
  flex-direction: column;
  }

  @include media-query($on-laptop) {
    visibility: hidden;
  }

  .sidebar-category {
    font-size: 14px;
    text-align: left; 
    padding: 10px 0px;
    border-right: 1px solid $border-grey;

    .category-header {
      margin: 10px 0px; 
      padding: 0px 15px;
      color: #464647;
      font-weight: bold;
      font-size: 18px;
    }

    .category-list {
      list-style: none; margin: 0px 0px; padding: 0px;
    }

    .category-item {
      margin: 5px 0px; 
      padding: 4px 15px;
    
      .category-item-link {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        color: #3D3D3D;
        letter-spacing: 0.1px;
      }
    }

    .category-item .current {
      font-size: 14px;
      color: $brand-color;
      font-weight: bold;
    }

    .category-item a:hover {
      text-decoration: none;
      color: $brand-color;
      font-weight: bold;
    }

  }
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
