---
layout: default
title: 关于我
permalink: /about/
header_index: 4
---

<script>
    document.querySelector("#header_idx_{{page.header_index}}").classList.add("current");
</script>

<div class="wrapper">
    <div class="post about-content">
        <h1>I'm Roger</h1>
        <p>前 Price Tag 运营</p>
        <p>喜欢<span style="text-decoration: underline;">写作</span></p>
        <p>喜欢<span style="text-decoration: underline;">新鲜科技</span>产品</p>
        <p>喜欢做一点<span style="text-decoration: underline;">设计</span></p>
        <p>也喜欢用<span style="text-decoration: underline;">代码</span>处理<span style="text-decoration: underline;">复杂</span>的事情</p>
        <p>你可以在这些地方找到我</p>
        <ul class="about-sns-list">
            {% for platform in site.data.archives_category %}
            {% if platform.url != nil and platform.show == 'TRUE' %}
            <li>
                <a href="{{ platform.url | relative_url }}" target="_blank">
                    <img src="{{ "/assets/img/sns_icon/"| append: platform.platform | append: "-round.svg" | relative_url }}"
                        alt=""> {{ platform.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>