---
layout: default
header_index: 1
permalink: /categories/
title: 分类
---

<script>
  document.querySelector("#header_idx_{{page.header_index}}").classList.add("current");
</script>

<div class="wrapper">
  <div class="post">
    {%- if site.categories.size > 0 -%}
    {% assign categories = site.categories %}

    <div class="category-group">
      <div class="category-header">
        <img src="{{ "/assets/img/categories/category-d9.svg" | relative_url }}" alt="">
        <h2>全部分类</h2>
      </div>

      <div class="category-tag">
        {% for category in categories %}
        <a href="#{{category[0]}}" title="分类合计：{{ category[1].size }} 篇">
          <img src="{{ "/assets/img/categories/category-tag.svg" | relative_url }}" alt="">
          <div>{{ category[0] | upper }}</div>
        </a>
        {% endfor %}
      </div>
    </div>


    {% for category in categories %}
    <div class="category-section category-anchor-float" id="{{ category[0] }}">
      <div class="category-section-header">
        <img src="{{ "/assets/img/categories/category-d4.svg" | relative_url }}" alt="">
        <h2>{{ category[0] }}</h2>
      </div>


      <ul class="category-list">
        {%- for post in category[1] -%}
        <li>
          <div class="category-list-item">
            {%- assign date_format = site.data_formats.date_format_short | default: "%b %-d, %Y" -%}
            <p style="display: inline;">{{ post.date | date: date_format }}</p>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {% endfor %}
    {%- endif -%}
  </div>

  {% include scroll_to_top.html %}

</div>