---
layout: default
---

{% assign header_index = page.header_index | default: "1" %}

<script>
  document.querySelector("#header_idx_{{header_index}}").classList.add("current");
</script>
<div class="wrapper">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <div class="post-meta">
        <time class="post-meta-date" class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: site.data_formats.date_format_short }}
        </time>

        <span class="post-meta-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author | default: "RIJIE"}}</span>
        </span>

        {%- if page.categories -%}
          {% for category in page.categories %}
            <div class="post-meta-cate">
              <a href="/categories/#{{category}}">#{{category}}</a>
            </div>
          {% endfor %}
        {%- endif-%}
      </div>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>

  {% capture sidebar_content %}
  <!-- <div class="share-sidebar">
    <button> Share </button>
  </div> -->
  <div>
    <p class="toc-sidebar-header">目录</p>
    {%- include toc.html html=content h_min=2 h_max=2 class='toc-sidebar' item_class='toc-sidebar-item' -%}
  </div>
  {% endcapture %}
  {%- include sidebar.html sidebar_content=sidebar_content -%}


  {% include scroll_to_top.html %}
</div>