---
layout: default
---

{% assign header_index = page.header_index | default: "1" %}

<script>
  document.querySelector("#header_idx_{{header_index}}").classList.add("current");
</script>
<div class="wrapper">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.data_formats.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
            itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>

  {% capture sidebar_content %}
  <!-- <div class="share-sidebar">
    <button> Share </button>
  </div> -->
  <div>
    <p class="toc-sidebar-header">目录</p>
    {%- include toc.html html=content h_min=2 h_max=2 class='toc-sidebar' item_class='toc-sidebar-item' -%}
  </div>
  {% endcapture %}
  {%- include sidebar.html sidebar_content=sidebar_content -%}


  <div class="post-gotop-button">
    <a class="gotop-button" href="javascript:window.scrollTo(0, 0);">
      <svg width="20px" viewBox="0 0 168 101" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g class="gotop-svg" transform="translate(-114.000000, -149.000000)" fill="#DDDDDD">
          <path
            d="M151,169 C160.388841,169 168,176.611159 168,186 L168,263 L245,263 C254.388841,263 262,270.611159 262,280 C262,289.388841 254.388841,297 245,297 L151,297 L151,297 C141.611159,297 134,289.388841 134,280 L134,186 C134,176.611159 141.611159,169 151,169 Z"
            id="Combined-Shape"
            transform="translate(198.000000, 233.000000) rotate(135.000000) translate(-198.000000, -233.000000) ">
          </path>
        </g>
      </svg>
    </a>
  </div>
</div>