---
layout: default
header_index: 1
permalink: /blog/
title: 博客
---

<script>
  document.querySelector("#header_idx_{{page.header_index}}").classList.add("current");
</script>

<div class="wrapper">
<div class="post">
  <div class="post-list-wrapper">
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- capture first_img_url -%}
      {% include image_set.html content = post.content %}
      {%- endcapture -%}
      {% assign first_img_url = first_img_url | strip %}
      {% if first_img_url.size == 0 %}
      {% assign list_class = "no-image" %}
      {% else %}
      {% assign list_class = "with-image" %}
      {% endif %}
      <li class="list-item">
        <div style="margin: 10px 0px; display: flex; justify-content: space-between;">
          <div class="list-item-meta {{list_class}}">
            {%- assign date_format = site.data_formats.date_format | default: "%b %-d, %Y" -%}
            <p class="item-date">
              {{ post.date | date: date_format }}</p>
            <div style="margin:2px 0px; padding: 0px;">
              <a class="item-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </div>
            <p class="item-excerpt">
              {{ post.content | slice: 0, 100 | strip_html | append: "..."}}</p>
          </div>
          {% if first_img_url.size > 0 %}
          <a href="{{ post.url | relative_url }}" class="list-item-image" style="display: inline-block; width: 100px; height: 100px;">
            <img style="height: 100px; line-height: 130px;border-radius: 17px; object-fit:cover;" src="{{first_img_url}}" alt="">
          </a>
          {% endif %}
        </div>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
</div>

<!-- Sidebar of posts list -->

{% capture sidebar_content %}
<div class="sidebar-category">
  <p class="category-header">分类</p>
  <ul class="category-list">
    <li class="category-item"><a class="category-item-link current" href="">全部</a></li>
    {% assign category_count = 0 %}
    {%- for category in site.categories -%}
    {% if category_count <= 7 %}
    <li class="category-item"><a class="category-item-link" href="">{{ category | first | capitalize }}</a></li>
    {% assign category_count = category_count | plus: 1 %}
    {% endif %}
    {%- endfor -%}
  </ul>
</div>


{% endcapture %}

{%- include sidebar.html sidebar_content=sidebar_content -%}

</div>